# =============================================================================
# All floating point numbers *must* be specified with a first decimal place,
# e.g. 1.0 as opposed to 1! Not doing this will cause silent errors!
# =============================================================================

# velocity of the mutation parameter (double)
v_theta = 4.0;

# Total runtime for the zig-zag process (double)
run_length = 2000.0;

# relative location of the data file (string)
datafile = "griffiths-tavare94.dat";

# sd of the mutation proposal (double)
sd_mutation_rate = 4.0;

# rate of MH steps (double)
mh_rate = 100.0
