# =============================================================================
# All floating point numbers *must* be specified with a first decimal place,
# e.g. 1.0 as opposed to 1! Not doing this will cause silent errors!
# =============================================================================

# velocity of the mutation parameter (double)
v_theta = 40.0;

# Total runtime for the zig-zag process (double)
run_length = 10000.0;

# relative location of the data file (string)
datafile = "longsample.dat";

# switch for whether to use the localised method for proposals (boolean)
localised = 1;
